# =====================================================
# GIT
# =====================================================

.git
.gitignore


# =====================================================
# VARIABLES Y SECRETOS
# =====================================================

**/.env
**/.env.*

!**/.env.example


# =====================================================
# DEPENDENCIAS Y RESULTADOS DE COMPILACIÓN
# =====================================================

**/node_modules
**/dist
**/.angular
**/coverage


# =====================================================
# ARCHIVOS PRIVADOS LOCALES
# =====================================================

backend/private_uploads


# =====================================================
# FRONTEND
# =====================================================
#
# El frontend se desplegará por separado en Vercel.
# No debe formar parte del contenedor del backend.
# =====================================================

worktrack


# =====================================================
# ARCHIVOS TEMPORALES
# =====================================================

*.zip
*.log
npm-debug.log
Thumbs.db
.DS_Store