/* qr-visor administracion.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {
  min-height: 100vh;
}

/* CONTENIDO */

.dashboard-content {
  width: 100%;
  min-height: calc(100vh - 95px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/* CARD GENERAL */

.card {
  background-color: white;
  border-radius: 24px;
  padding: 30px;

  box-shadow: 0 5px 18px rgba(0,0,0,0.08);

  width: 100%;
  max-width: 450px;
}