:root {
  --color-primary: #16304c;
  --color-secondary: #0aab65;
  --color-primary-soft: #2f5478;
  --color-bg: #eef2f6;
  --color-border: #dde4ea;
}
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';