<!-- HEADER -->
<header class="topbar">

    <div class="logo-section">

        <div class="logo-circle">
            <img src="logoWorkTrack.png" alt="WorkTrack" class="logo">
        </div>

        <div>
            <h1>{{titulo}}</h1>
            <p>{{ fecha }}</p><!-- bindeo -->
        </div>

    </div>

    <div class="topbar-right">

        <div class="role-badge">
<!-- -->
            @if (role === 'admin') {
                <span>Administrador</span>
            }

            @else if (role === 'rrhh') {
                <span>Recursos Humanos</span>
            }

            @else if (role === 'supervisor') {
                <span>Supervisor</span>
            }

            @else {
                <span>Empleado</span>
            }

        </div>

        <button class="back-btn" (click)="volver()">
            ← 
        </button>

        <button class="logout-btn" (click)="logout()">
            Salir
        </button>

    </div>

</header>